<!DOCTYPE HTML>

<html>
<head>

    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload homepage">
    <div id="page-wrapper">
        @await Html.PartialAsync("HeaderPartial")

        @await Html.PartialAsync("BannerPartial")
       

        <div id="main">
            
                <div>
                    <div>
                        @RenderBody()
                    </div>
                </div>
                @await Html.PartialAsync("SidebarPartial")
            
        </div>

        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>
