
<img src="/images/Reg3.JPG" class="img-fluid" alt="Responsive image">
<div id="footer-wrapper" style="background-image: url(/images/footer2.jpg); background-size: cover;background-position: left center;background-repeat: no-repeat;">
    <footer id="footer" class="container">
        <div class="row">

            <div class="col-3 col-6-medium col-12-small">

                <!-- Contact -->
                <section class="widget contact last">
                    <h3 style="color:brown">Контакты</h3>
                    <ul>
                        <img src="/images/whats.png" width="40" height="40" class="d-inline-block align-top" alt="">
                        <img src="/images/inst.png" width="40" height="40" class="d-inline-block align-top" alt="">
                        <img src="/images/TG.png" width="40" height="40" class="d-inline-block align-top" alt="">
                    </ul>
                    <p style="color:aliceblue">
                        1234 Fictional Road<br />
                        Nashville, TN 00000<br />
                        +996-555-000-000
                    </p>
                </section>

            </div>
            <div class="col-3 col-6-medium col-12-small">
                <!-- Links -->
                <section class="widget links">
                    <h3 style="color:brown">Меню</h3>
                    <ul class="style2">
                        <li style="color:aliceblue"><a href="#">О компании</a></li>
                        <li style="color:aliceblue"><a href="#">Информация</a></li>
                        <li style="color:aliceblue"><a href="#">Услуги</a></li>
                        <li style="color:aliceblue"><a href="#">Новости</a></li>
                        <li style="color:aliceblue"><a href="#">Контакты</a></li>
                    </ul>
                </section>
            </div>

            <div class="col-3 col-6-medium col-12-small">
                <!-- Links -->
                <section class="widget links">
                    <h3 style="color:brown">Помощь</h3>
                    <ul class="style2">
                        <li style="color:aliceblue"><a href="#">Выездной консультант</a></li>
                        <li style="color:aliceblue"><a href="#">Карта постоянного покупателя</a></li>
                        <li style="color:aliceblue"><a href="#">Оплата и доставка</a></li>
                        <li style="color:aliceblue"><a href="#">Сертификаты</a></li>
                        <li style="color:aliceblue"><a href="#">Эксперты</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Untitled. All rights reserved</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

</html>