<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">  
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha38z4-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-wrapper">
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img src="/images/123.JPG" width="70" height="30" class="d-inline-block align-top" alt="">                 
                </a>
            </nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item">
                        <a class="nav-link"  href="/home/Contacts">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/Info">Информация</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-weight-bold" href="/Services/Index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Услуги
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Services/One">Промышленные полы</a>
                            <a class="dropdown-item" href="/Services/2">Наливные полы</a>
                            <a class="dropdown-item" href="/Services/3">Полимерные/эпоксидные полы</a>
                            <a class="dropdown-item" href="/Services/4">Антистатические полы</a>
                            <a class="dropdown-item" href="/Services/5">Бетонные полы</a>
                            <a class="dropdown-item" href="#">Пылесосы</a>
                            <a class="dropdown-item" href="#">Тележки для топпинга</a>
                            <a class="dropdown-item" href="#">Топпинговые полы</a>
                            <a class="dropdown-item" href="#">Пады, Франкфурты</a>
                            <a class="dropdown-item" href="#">Затирочные диски</a>
                            <a class="dropdown-item" href="#">Краски колеруемые всех сегментов цены</a>
                            <a class="dropdown-item" href="#">Шлифовальные машины</a>
                            <a class="dropdown-item" href="#">Грунтовки всех видов для полов и для отделки</a>
                            <a class="dropdown-item" href="#">Растворители</a>
                            <a class="dropdown-item" href="#">Штукатурка</a>
                            <a class="dropdown-item" href="#">Шпаклёвка</a>
                            <a class="dropdown-item" href="#">Клей для плитки</a>
                            <a class="dropdown-item" href="#">Шланги</a>
                            <a class="dropdown-item" href="#">Стекловата</a>
                            <a class="dropdown-item" href="#">И многие инструменты для</a>
                            <a class="dropdown-item" href="#">Отделки помещений,валики шпатели и тд</a>                         
                            
                        </div>
                    <li class="nav-item">
                        <a class="nav-link font-weight-normal" href="/home/News" >Новости</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/home/Contacts">Контакты</a>
                    </li>

                </ul>

                <a class="navbar-brand" href="#">
                    <img src="/images/whats.png" width="20" height="20" class="d-inline-block align-top" alt="">
                </a>
                <a class="navbar-brand" href="#">
                    <img src="/images/inst.png" width="20" height="20" class="d-inline-block align-top" alt="">
                </a>
                <a class="navbar-brand" href="#">
                    <img src="/images/TG.png" width="20" height="20" class="d-inline-block align-top" alt="">
                </a>

                <div class="menu right d-flex justify-content-end">

                    <div class="menu-contact" style="margin-right:25px">
                        <ul class="navbar-nav mr-auto ">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#" style="font-family:Cabin;"> +996-555-000-000</a>
                            </li>
                        </ul>

                    </div>

                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Заказать звонок</button>

                </div>

            </div>
            </div>
        </div>
    </nav>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>